:root {
  --color-0: rgb(9, 9, 9);
  --color-1: white;
  --color-2: rgb(37, 37, 37);
  --color-3: brown;
  --color-4: rgb(122, 19, 19);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
